@media (max-width: 960px) {
  .aside__menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .page {
    display: flex;
  }
  .aside {
    width: 320px;
    flex-shrink: 0;
    margin-right: 40px;
  }
  .content {
    flex-grow: 1;
    order: 1;
  }
}
